// Created with Visual MASM

1  24  DISCARDABLE	"C:\\Users\\Marco Antonio\\Documents\\computacion-unistmo\\04ensamblador\\19-05-24\\Threatenin' Zeppelin\\Manifest.xml"

#define IDB_CUPHEAD  1
#define IDB_CUPHEAD2 2
#define IDB_ROCKET   3
#define IDB_ROCKET2  4
#define IDB_HILDA    5
#define IDB_FONDO    6
#define IDB_ROCKET3 7
#define IDB_ROCKET4 8
#define IDM_MENU     10
#define IDM_NUEVO    11
#define IDM_JUEGO    12
#define IDM_ACERCA   13
 
IDB_CUPHEAD  BITMAP "Cuphead.bmp"
IDB_CUPHEAD2 BITMAP "Cuphead2.bmp"
IDB_ROCKET   BITMAP "Rocket.bmp"
IDB_ROCKET2  BITMAP "Rocket2.bmp"
IDB_HILDA    BITMAP "Hilda.bmp"
IDB_FONDO	 BITMAP "Fondo.bmp"
IDB_ROCKET3  BITMAP "Rocket3.bmp"
IDB_ROCKET4  BITMAP "ROcket4.bmp"


IDM_MENU MENUEX
BEGIN
	MENUITEM "&Nuevo", IDM_NUEVO
	MENUITEM "&Juego", IDM_JUEGO 
	MENUITEM "&Acerca", IDM_ACERCA
END
